<p>signup works!</p>

<!--<div>
  <button id="login" (click)= "Login()">Log In</button>
</div>-->

<button class="salir" (click)="Salir()">
</button>


<div  class="loginBox"></div>
<span  class="loginTile">Registrar</span>
<div  class="lineBlack"></div>

<form #loginForm="ngForm" (ngSubmit)="handleRegister(loginForm.value)">
    <div class="main">
      <div class="input-fields">
        <span  class="userText">Email:</span>
          <input name="email" ngModel placeholder="Email" id="email" type="email" class="input-field" />
      </div>

      <div class="input-fields">
        <span  class="roleText">Roles:</span>
        <input list="roles" name="role" ngModel placeholder="Roles" id="role" type="role" class="input-field">
        <datalist id="roles">
          <option value="Investigador">
          <option value="Cliente">
        </datalist>
    </div>

      <div class="input-fields">
        <span  class="claveText">Clave:</span>
          <input name="password" ngModel placeholder="Clave" id="password" type="password" class="input-field" />
      </div>
      <div class="input-fields">
        <span  class="clave2Text">Confirmar Clave:</span>
        <input name="confirmpassword" ngModel placeholder="Confirmar Clave" id="confirmpassword" type="password" class="input-field" />
      </div>






      <button class="boton">Sign Up</button>
    </div>
</form>
