<p>signup works!</p>

<div>
  <button id="login" (click)= "Login()">Log In</button>
</div>

<form #loginForm="ngForm" (ngSubmit)="handleRegister(loginForm.value)">
    <div class="main">
      <div class="input-fields">
          <input name="email" ngModel placeholder="Email" id="email" type="email" class="input-field" />
      </div>

      <div class="input-fields">
        <input list="roles" name="role" ngModel placeholder="Role" id="role" type="role" class="input-field">
        <datalist id="roles">
          <option value="Investigador">
          <option value="Cliente">
        </datalist>
    </div>

      <div class="input-fields">
          <input name="password" ngModel placeholder="Password" id="password" type="password" class="input-field" />
      </div>
      <div class="input-fields">
        <input name="confirmpassword" ngModel placeholder="Confirm Password" id="confirmpassword" type="password" class="input-field" />
      </div>






      <button>Sign Up</button>
    </div>
</form>
