<p>unidad-produccion works!</p>

<h1 class="subTituloText">Unidades </h1>

<div class="scanbutton" ></div>
<div class="scantext" >SCAN</div>


<div class="list">
  <div class="projectBlock" >Proyecto</div>
  <table>
    <tr>
      <th> Codigo </th>
      <th> Cliente </th>
      <th> Altitud</th>
      <th> Coordenadas </th>
      <th> </th>

    </tr>
    <tr *ngFor="let item of data" >


      <td>{{ item.codigo  }}</td>
      <td >{{ item.cliente }}</td>
      <td>{{ item.altitud}}</td>
      <td>{{ item.coordenadas}}</td>

      <td>
        <button class="muestras" (click)="Muestras( pid, item.codigo)"></button>
        <button class="detalles" (click)="infoUnidad(item.codigo)"></button>
        <button class="edit" (click)="editUnidad(item.codigo)"></button>

      </td>

    </tr>
  </table>



  <button class="boton" id="agregar" (click)="newUnidad(pid)">
    Agregar
  </button>

</div>

<!--
<ul>
  <li *ngFor="let item of data" >
    <p contenteditable="true">
    {{ item.codigo }}
    {{ item.owner }}
    {{ item.integrantes }}
    </p>
    <button >
      Update
    </button>

    <button >
      Delete
    </button>
  </li>
</ul>
-->

