<div class="base">
  <div>
    <button id="login" (click)= "Login()">Log In</button>
  </div>
  <div></div>
  <div >
    <button id="signup" (click) = "Signup()">Sign Up</button>
  </div>
  <div class="install">
    <span>Para instalar en tu dispositivo móvil, pulsa el boton de inicio “Compartir”
    <img id="share" src="../../../../assets/share.png" alt="share">
    en IOS o el boton “Menú”  <img id="menu" src="../../../../assets/menu.png" alt="menu">
    en Androi, y selecionar “Agregar a inicio”</span>
  </div>



</div>
