.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields{
  margin: 10px;
}


.input-field{
  width: 300px;
  height: 20px;
}

button{
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

#login{
  top: 20%;
  position:absolute;

}

#signup{
  top: 40%;
  position:absolute;

}


#login {
	background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
	width:40%;
	height:15%;
	position:absolute;
	left:36%;
	top:25%;
	border-radius:30px;
  border-width: 0;
	color:rgba(255, 255, 255, 1);
	font-family:Arial;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
#signup {
	background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
	width:40%;
	height:15%;
	position:absolute;
	left:36%;
	top:50%;
	border-radius:30px;
  border-width: 0;
	color:rgba(255, 255, 255, 1);
	font-family:Arial;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.install {
	color:rgba(0, 0, 0, 1);
	width:30%;
	height:30%;
	position:absolute;
	left:42%;
	top:77%;
	font-family:Arial;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
  font-weight: bold;
}
.line {
	display: inline;
}
#menu {
	width:16px;
	height:21.647058486938477px;
	/*display: inline;
  position:absolute;
  left:703px;
	top:841px;
	background-image:url(../../../../assets/menu.png);*/
	background-repeat:no-repeat;
	background-size:cover;
  border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#share {
	width:20px;
	height:23.636362075805664px;
	/*display: inline;
  position:absolute;
	left:805px;
	top:815px
	background-image:url(../../../../assets/share.png);*/
	background-repeat:no-repeat;
	background-size:cover;
  border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

p{
  line-height: 0.5;
}



@media only screen and (max-width: 768px) {
  .main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input-fields{
    margin: 10px;
  }


  .input-field{
    width: 300px;
    height: 20px;
  }

  button{
    width: 100px;
    height: 40px;
    /*margin: 10px;*/
    cursor: pointer;
  }

  #login{
    top: 20%;
    position:absolute;

  }

  #signup{
    top: 40%;
    position:absolute;

  }


  #login {
    background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
    width:70%;
    height:15%;
    margin: 0px;
    position:absolute;
    left:15%;/*36%;*/
    top:25%;
    border-radius:30px;
    border-width: 0;
    color:rgba(255, 255, 255, 1);
    font-family:Arial;
    text-align:center;
    font-size:32px;
    letter-spacing:0;
  }
  #signup {
    background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
    width:70%;
    height:15%;
    margin: 0px;
    position:absolute;
    left:15%;/*36%;*/
    top:50%;
    border-radius:30px;
    border-width: 0;
    color:rgba(255, 255, 255, 1);
    font-family:Arial;
    text-align:center;
    font-size:32px;
    letter-spacing:0;
  }
  .install {
    color:rgba(0, 0, 0, 1);
    width: 70%;
    height:10%;
    position:absolute;
    left:15%;
    top:75%;
    font-family:Arial;
    text-align:center;
    font-size:12px;
    letter-spacing:0;
    font-weight: bold;
  }
  .line {
    display: inline;
  }
  #menu {
    width:10px;
    height:12px;
    /*display: inline;
    position:absolute;
    left:703px;
    top:841px;
    background-image:url(../../../../assets/menu.png);*/
    background-repeat:no-repeat;
    background-size:cover;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
  }
  #share {
    width:12px;
    height:14px;
    /*display: inline;
    position:absolute;
    left:805px;
    top:815px
    background-image:url(../../../../assets/share.png);*/
    background-repeat:no-repeat;
    background-size:cover;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
  }

  p{
    line-height: 0.5;
  }


}


