<p>muestras-new works!</p>

<h1 class="subTituloText">Nueva Muestra</h1>

<div  class="loginBox">

  <form #loginForm="ngForm" (ngSubmit)="handleRegister(loginForm.value)">
    <div class="main">


      <div class="input-fields">
        <span  class="Text">Codigo:</span>
        <input name="codigo" ngModel placeholder="codigo" id="codigo" type="codigo" class="input-field"/>
      </div>


      <div class="input-fields">
        <span  class="Text">Cliente:</span>
        <input name="cliente" ngModel placeholder="Cliente" id="cliente" type="cliente" class="input-field" />
      </div>


      <div class="input-fields">
        <span  class="Text">Fecha:</span>
        <input name="fecha" ngModel placeholder="Fecha" id="fecha" type="fecha" class="input-field" />
      </div>


      <div class="input-fields">
        <span  class="Text">Cultivo:</span>
        <input name="cultivo" ngModel placeholder="Cultivo" id="cultivo" type="cultivo" class="input-field" />
      </div>


      <div class="input-fields">
        <span  class="Text">Tipo:</span>
        <input list="tipos" name="tipo" ngModel placeholder="Tipo" id="tipo" type="tipo" class="input-field" >
        <datalist id="tipos">
          <option value="Hibrido">
          <option value="Variedad">
          <option value="Clone">
        </datalist>
      </div>


      <div class="input-fields">
        <span  class="Text">Fitopatógeno:</span>
        <input list="fitopatogenos" name="fitopatogeno" ngModel placeholder="Fitopatogeno" id="fitopatogeno" type="fitopatogeno" class="input-field" />
        <datalist id="fitopatogenos">
          <option value="Hongos">
          <option value="Bacterias">
            <option value="Virus">
        </datalist>
      </div>

      <div class="input-fields">
        <span  class="Text">Estado:</span>
        <input name="estado" ngModel placeholder="Estado" id="estado" type="estado" class="input-field" />
      </div>

      <div class="input-fields">
        <span  class="Text">Lote:</span>
        <input name="lote" ngModel placeholder="Lote" id="lote" type="lote" class="input-field" />
      </div>

      <div class="input-fields">
        <span  class="Text">Repetición:</span>
        <input name="repeticion" ngModel placeholder="Repeticion" id="repeticion" type="repeticion" class="input-field" />
      </div>


      <div class="input-fields">
        <span  class="Text">Coordenadas:</span>
        <input name="coordenadas" ngModel placeholder="Coordenadas" id="coordenadas" type="coordenadas" class="input-field" [(ngModel)]="res" />
        <div class="bUbicacion" (click)="getLocation()"><img src="../../../../assets/Ubicacion.png" alt="U"></div>
      </div>


      <div class="input-fields">
        <span  class="Text">Sintomas:</span>
        <!-- <input name="síntomas" ngModel placeholder="Síntomas" id="síntomas" type="síntomas" class="input-field" />-->
        <textarea name="sintomas" ngModel placeholder="Sintomas" id="sintomas"  rows="4" cols="50"></textarea>
      </div>



      <div class="input-fields">

        <span  class="Text">Comentarios:</span>

        <!--<input name="comentarios" ngModel placeholder="Comentarios" id="comentarios" type="comentarios" class="input-field" /> -->
        <textarea name="comentarios" ngModel placeholder="Comentarios" id="comentarios"  rows="4" cols="50"> </textarea>
      </div>



      <button class="boton">Crear Muestra</button>
    </div>


  </form>
</div>
