.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields{
  margin: 10px;
}


.input-field{
  width: 300px;
  height: 20px;
}

button{
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.homeBox {/*Home box*/
	background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
	border-right: 4px solid white;
	width:20%;
	height:10%;
	position:absolute;
	left:0px;
	top:0%;
	text-align:center;
}
.homeText { /*Home text*/
	color:rgba(255, 255, 255, 1);
	display: inline-block;
  	vertical-align: middle;
  	line-height: 250%;
	font-family:Verdana;
	font-size:40px;
	letter-spacing:0;

}
.tituloBox { /*Titulo box*/
	background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
	width:80%;
	height:10%;
	position:absolute;
	left:20%;
	top:0%;
	text-align:center;
}
.tituloText { /*Titulo Texto*/
	color:rgba(255, 255, 255, 1);
	display: inline-block;
  	vertical-align: middle;
  	line-height: 250%;
	font-family:Verdana;
	font-size:40px;
	letter-spacing:0;
}
.logoCiens { /*Logo Ciens*/
	width:69px;
	height:69px;
	position:absolute;
	left: 92%;
	top: 1.5%;
	background-image:url(../../assets/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.logoUcv { /*Logo Ucv*/
	width:69px;
	height:69px;
	position:absolute;
	left: 22%;
	top: 1.5%;
	background-image:url(../../assets/logo_ucv_bg2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}




@media only screen and (max-width: 768px) {



  .homeBox {/*Home box*/
    background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
    border-right: 4px solid white;
    width:20%;
    height:15%;
    position:absolute;
    left:0px;
    top:0%;

  }
  .homeText { /*Home text*/
    /*color:rgba(255, 255, 255, 1);
    display: inline-block;
      vertical-align: middle;
      line-height: 250%;
    font-family:Verdana;
    font-size:32px;
    letter-spacing:0;*/

    display: none;

  }

  .homeLogo { /*Home text*/
    position:relative;

    top:25%;
    left:25%;

    width:36px;
    height:36px;
    text-align:center;
    background-image:url(../../assets/home.png);
    background-repeat:no-repeat;
    background-size:cover;

    /*display: none;*/

  }
  .tituloBox { /*Titulo box*/
    background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
    width:80%;
    height:15%;
    position:absolute;
    left:20%;
    top:0%;
    text-align:center;
  }
  .tituloText { /*Titulo Texto*/
    color:rgba(255, 255, 255, 1);
    line-height: 1.6;
    /*display: inline-block;
      vertical-align: middle;
      line-height: 250%;*/
    font-family:Verdana;
    font-size:32px;
    letter-spacing:0px;
  }
  .logoCiens { /*Logo Ciens*/
    width:31px;
    height:31px;
    position:absolute;
    left: 90%;
    top: 1.5%;
    background-image:url(../../assets/image_7.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .logoUcv { /*Logo Ucv*/
    width:31px;
    height:31px;
    position:absolute;
    left: 22%;
    top: 1.5%;
    background-image:url(../../assets/logo_ucv_bg2_1.png);
    background-repeat:no-repeat;
    background-size:cover;
  }

















}
