<p>projects works!</p>

<button class="salir" (click)="Salir()">
</button>

<h1 class="subTituloText">Proyectos</h1>
  <div class="list">
    <table>
      <tr>
        <th> Nombre </th>
        <th> Dueño </th>
        <th> Integrantes</th>
        <th> Clientes </th>
        <th> </th>

      </tr>
      <tr *ngFor="let item of data" >


        <td>{{ item.name  }}</td>
        <td >{{ item.owner }}</td>
        <td>{{ item.integrantes}}</td>
        <td>{{ item.cliente }}</td>

        <td>
          <button class="muestras" (click)="Muestras( item.name)"></button>
          <button class="edit"></button>

        </td>

      </tr>
    </table>



    <button class="boton" id="agregar" (click)="newProject()">
      Agregar
    </button>

  </div>

<!--
<ul>
  <li *ngFor="let item of data" >
    <p contenteditable="true">
    {{ item.name }}
    {{ item.owner }}
    {{ item.integrantes }}
    {{ item.client }}
    </p>
    <button >
      Update
    </button>

    <button >
      Delete
    </button>
  </li>
</ul>
-->
