<p>perfil-edit works!</p>

<h1 class="subTituloText"> Editar Perfil</h1>

<div  class="loginBox">

  <form #loginForm="ngForm" (ngSubmit)="handleRegister(loginForm.value)">
    <div class="main">



      <div class="input-fields">
        <span  class="Text">Email:</span>
        <input name="email" ngModel placeholder="Email" id="emai" type="email" class="input-field" [(ngModel)]= "item.email" />
      </div>


      <div class="input-fields">
        <span  class="Text">Nombre:</span>
        <input name="nombre" ngModel placeholder="Nombre" id="nombre" type="nombre" class="input-field" [(ngModel)]= "item.nombre" />
      </div>


      <div class="input-fields">
        <span  class="Text">Telefono:</span>
        <input name="telefono" ngModel placeholder="Telefono" id="telefono" type="telefono" class="input-field" [(ngModel)]= "item.telefono" />
      </div>


      <div class="input-fields">
        <span  class="Text">Direccion:</span>
        <input name="direccion" ngModel placeholder="Direccion" id="direccion" type="direccion" class="input-field" [(ngModel)]= "item.direccion" />
      </div>




      <button class="boton">Editar Cliente</button>
    </div>


  </form>
</div>
