.main{
  /*display: flex;
  height: 100vh;*/
  justify-content: center;
  flex-direction: column;
  position:absolute;
  width: 100%;
  left: 5%;
  top: 20%;
}


.input-fields{
  display: flex;
  align-items: center;
  width: 100%;
}



.print{
  position:absolute;
  left: 5%;
  top: 30%;

}

svg{
  position:absolute;
  left: 5%;
  top: 35%;

}



/*button {

  border: none;
  float: right;
  background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
  color:rgba(255, 255, 255, 1);
  margin: 15px 0px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
*/
