<p>barcode works!</p>

<!-- (ngSubmit)="generateBarcode(loginForm.value)"" -->

<!--
<br>

<form #loginForm="ngForm" (ngSubmit)="generateBarcode(item)">
  <div class="main">

    <div class="input-fields">
        <input name="txt_input" ngModel placeholder=" " id="txt_input" type="text" class="input-field" />
    </div>

    <br>



    <button id="btn_generate" class="barcode">Generar Codigo de Barras</button>
  </div>
</form>

<br><br>
 -->
<svg onclick="window.print(this)" id="barcode"></svg>
<button class="print" (click)="toPrint()">Print</button>
