.list{
  position: absolute;
  left:33%;
	top:35%;
}

td {
  border: 1px solid #000;
  background: #D9D9D9;
  padding: 10px;
}

th{
  border: 1px solid #000;
  background: #AAAAAA;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

button {
  /*box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);*/
  border: none;
  background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
  color:rgba(255, 255, 255, 1);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.subTituloText { /*SubTitulo Texto*/
	color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
	position:absolute;
  width:70%;
	height:10%;
  	vertical-align: middle;
  	line-height: 250%;
	font-family:Verdana;
  text-align:center;
	font-size:48px;
	letter-spacing:0;
  left:20%;
	top:15%;
}




.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields{
  margin: 10px;
}


.input-field{
  width: 300px;
  height: 20px;
}

button{
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.homeBox {/*Home box*/
	background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
	border-right: 4px solid white;
	width:20%;
	height:10%;
	position:absolute;
	left:0px;
	top:0%;
	text-align:center;
}
.homeText { /*Home text*/
	color:rgba(255, 255, 255, 1);
	display: inline-block;
  	vertical-align: middle;
  	line-height: 250%;
	font-family:Verdana;
	font-size:40px;
	letter-spacing:0;

}
.tituloBox { /*Titulo box*/
	background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
	width:80%;
	height:10%;
	position:absolute;
	left:20%;
	top:0%;
	text-align:center;
}
.tituloText { /*Titulo Texto*/
	color:rgba(255, 255, 255, 1);
	display: inline-block;
  	vertical-align: middle;
  	line-height: 250%;
	font-family:Verdana;
	font-size:40px;
	letter-spacing:0;
}
.logoCiens { /*Logo Ciens*/
	width:69px;
	height:69px;
	position:absolute;
	left: 92%;
	top: 1.5%;
	background-image:url(../../assets/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.logoUcv { /*Logo Ucv*/
	width:69px;
	height:69px;
	position:absolute;
	left: 22%;
	top: 1.5%;
	background-image:url(../../assets/logo_ucv_bg2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.navbar2Box{
  width: 100%;
  height: 47px;
  background: #3EC28F;
  border-top: 4px solid white;
  position:absolute;
  left:0%;
  top:10%;
}

.navbar2Text{
  /*background: #3EC28F;*/
  height: 47px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Verdana;
  font-weight: 600;
  word-wrap: break-word;
  text-align: center;
  display: inline-block;
  	vertical-align: middle;
  	line-height: 240%;
  border-top: 4px solid white;

}

#usernameText{
  width: 20%;
  position:absolute;
  left:0%;
  top:10%;
  border-right: 4px solid white;

}



#ProyectosText{
  cursor: pointer;
  width: 20%;
  position:absolute;
  left:20%;
  top:10%;
  border-right: 4px solid white;
}

#MuestrasText{
  cursor: pointer;
  width: 20%;
  position:absolute;
  left:40%;
  top:10%;
  border-right: 4px solid white;
}

#ClientesText{
  cursor: pointer;
  width: 20%;
  position:absolute;
  left:60%;
  top:10%;
  border-right: 4px solid white;
}

#cerrarText{
  cursor: pointer;
  width: 20%;
  position:absolute;
  left:0%;
  top:10%;
  border-right: 4px solid white;

}

.salir{
  cursor: pointer;
  border: none;
  background: none;
  position:absolute;
  width:20%;
	height:10%;
  left: 0%;
  top: 0%
}

@media only screen and (max-width: 768px) {

  .projectBlock{
    width: 60%;
    height: 25px;
    background: #3EC28F;
    color: white;
    padding-top: 10px;
    font-family:Verdana;
    text-align: center;
    font-size:14px;
    font-weight: bold;
    letter-spacing:0;
    cursor: pointer;
  }

  .list{
    position: absolute;
    left: 5%;
    top:40%;
    text-overflow: ellipsis;
  }


  td {
    border: 1px solid #000;
    background: #D9D9D9;
    text-overflow: ellipsis;
    padding: 2px;
    /*height: 20px;*/
    font-size: 12px;
  }

  th{
    border: 1px solid #000;
    background: #AAAAAA;
    padding: 2px;
    font-size: 12px;
  }

  table {
    border-collapse: collapse;
  }

  .integrantes {
    display: none;
  }



  .username{
    width: 119px;
    height: 17px;
    left: 4%;
    top: 17%;
    position: absolute;
    color: #4C9EFF;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
  }


  .logout{
    width: 128px;
    height: 23px;
    left: 4%;
    top: 23%;
    position: absolute;
    color: #4C9EFF;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }


  .scanbutton{
    width: 30%;
    height: 36px;
    left: 35%;
    top: 30%;
    position: absolute;
    background: #4C9EFF;
    border-radius: 30px;
  }

  .scantext{
    cursor: pointer;
    width: 126px;
    margin-top: 10px;
    margin-left: 15px;
    height: 16px;
    /*left: 50%;
    top: 31%;*/
    position: absolute;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Verdana;
    font-weight: 700;
    word-wrap: break-word;
  }




  .subTituloText { /*SubTitulo Texto*/
    color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
    position:absolute;
    margin: 0px;
    /*width:300px;*/
    height:64px;
    font-family:Verdana;
    font-size:32px;
    letter-spacing:0;
    left:30%;
    top:22%;
  }


  .homeBox {/*Home box*/
    background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
    border-right: 2px solid white;
    width:20%;
    height:15%;
    position:absolute;
    left:0px;
    top:0%;

  }
  .homeText { /*Home text*/

    display: none;

  }

  .homeLogo { /*Home text*/
    position:relative;

    top:30%;
    left:25%;

    width:36px;
    height:36px;
    text-align:center;
    background-image:url(../../assets/home.png);
    background-repeat:no-repeat;
    background-size:cover;

    /*display: none;*/

  }
  .tituloBox { /*Titulo box*/
    background-color:rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);
    width:80%;
    height:15%;
    position:absolute;
    left:20%;
    top:0%;
    text-align:center;
  }
  .tituloText { /*Titulo Texto*/
    color:rgba(255, 255, 255, 1);
    line-height: 1.6;
    display: inline-block;
      vertical-align: middle;
      /*line-height: 250%;*/
    font-family:Verdana;
    font-size:32px;
    letter-spacing:0px;
  }
  .logoCiens { /*Logo Ciens*/
    width:31px;
    height:31px;
    position:absolute;
    left: 90%;
    top: 1.5%;
    background-image:url(../../assets/image_7.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .logoUcv { /*Logo Ucv*/
    width:31px;
    height:31px;
    position:absolute;
    left: 22%;
    top: 1.5%;
    background-image:url(../../assets/logo_ucv_bg2_1.png);
    background-repeat:no-repeat;
    background-size:cover;
  }

  .navbar2Box{
    width: 100%;
    height: 5%;
    background: #3EC28F;
    border-top: 2px solid white;
    position:absolute;
    left:0%;
    top:15%;
  }

  .navbar2Text{
    /*background: #3EC28F;*/
    height: 5%;
    color: #FFFFFF;
    font-size: 10px;
    font-family: Verdana;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    display: inline-block;
      vertical-align: middle;
      line-height: 1.6; /*240%;*/
    border-top: 2px solid white;

  }

  #UnidadText{
    cursor: pointer;
    width: 20%;
    position:absolute;
    left:40%;
    top:15%;
    border-right: 2px solid white;
    padding-top: 7px;


  }



  #ProyectosText{
    cursor: pointer;
    width: 20%;
    position:absolute;
    left:20%;
    top:15%;
    border-right: 2px solid white;
    padding-top: 7px;
  }

  #MuestrasText{
    cursor: pointer;
    width: 20%;
    position:absolute;
    left:60%;
    top:15%;
    border-right: 2px solid white;
    padding-top: 7px;
  }

  #ClientesText{
    cursor: pointer;
    width: 20%;
    position:absolute;
    left:80%;
    top:15%;
    padding-top: 7px;

  }

  #cerrarText{
    cursor: pointer;
    width: 20%;
    position:absolute;
    left:0%;
    top:15%;
    border-right: 2px solid white;
  }



  .salir{
    cursor: pointer;
    border: none;
    background: none;
    position:absolute;
    width:20%;
    height:10%;
    left: 0%;
    top: 0%
  }

  /*button{
    position: absolute;
    border: none;
    float: right;
    background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
    color:rgba(255, 255, 255, 1);
    margin: 10px 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
  }*/


  button {
    border: none;
    background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
    color:rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    height:10%;
    padding: 10px;
    margin: 5px ;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
  }

}
