<p>project-new works!</p>

<h1 class="subTituloText">Nueva Muestra</h1>


<div  class="loginBox">

  <form #loginForm="ngForm" (ngSubmit)="handleRegister(loginForm.value)">
    <div class="main">

      <p style="color: red;"> * Todo Projecto requiere un identificador único </p>
      <div class="input-fields">
        <span  class="Text">ID:</span>
        <input name="id" ngModel placeholder="ID" id="id" type="id" class="input-field" />
      </div>


      <div class="input-fields">
        <span  class="Text">Name:</span>
          <input name="name" ngModel placeholder="Name" id="name" type="name" class="input-field" />
      </div>

      <div class="input-fields">
        <span  class="Text">Owner:</span>
        <input name="owner" ngModel placeholder="Owner" id="owner" type="owner" class="input-field" />
      </div>

      <div class="input-fields" >
        <span  class="Text">Integrantes:</span>
          <input name="integrantes" ngModel placeholder="Integrantes" id="integrantes" type="integrantes" class="input-field" />
      </div>

      <!--
        <button type="button" (click)="addElement()">Add</button>
      -->
      <div class="input-fields">
        <span  class="Text">Cliente:</span>
        <input name="cliente" ngModel placeholder="Cliente" id="cliente" type="cliente" class="input-field" />
      </div>


      <button class="boton">Crear Projecto</button>
    </div>
  </form>

</div>
