<p>project-edit works!</p>

<h1 class="subTituloText">Editar Projecto</h1>

<div  class="loginBox">

  <form #loginForm="ngForm" (ngSubmit)="handleRegister(loginForm.value)">
    <div class="main" >


      <!--
      <div class="input-fields">
        <span  class="Text">ID:</span>
        <input name="id" ngModel placeholder="ID" id="id" type="id" class="input-field" [(ngModel)]= "pid" />
      </div>
      -->


      <div class="input-fields">
        <span  class="Text">Nombre:</span>
          <input name="name" ngModel placeholder="Name" id="name" type="name" class="input-field" [(ngModel)]= "item.name"  />
      </div>

      <div class="input-fields">
        <span  class="Text">Owner:</span>
        <input name="owner" ngModel placeholder="Owner" id="owner" type="owner" class="input-field"  [(ngModel)]= "item.owner" />
      </div>

      <div class="input-fields" >
        <span  class="Text">Integrantes:</span>
          <input name="integrantes" ngModel placeholder="Integrantes" id="integrantes" type="integrantes" class="input-field" [(ngModel)]= "item.integrantes"  />
      </div>

      <!--
        <button type="button" (click)="addElement()">Add</button>
      -->
      <div class="input-fields">
        <span  class="Text">Cliente:</span>
        <input name="cliente" ngModel placeholder="Cliente" id="cliente" type="cliente" class="input-field"  [(ngModel)]= "item.cliente" />
      </div>




      <button class="boton">Editar Projecto</button>

      <button class="botonrojo" (click)="deleteData(pid)">
        Delete
      </button>
    </div>


  </form>
</div>


<!--
<ul>
  <li *ngFor="let item of data" >
    <p contenteditable="true">
    {{ item.codigo }}
    {{ item.owner }}
    {{ item.integrantes }}
    </p>
    <button >
      Update
    </button>

    <button >
      Delete
    </button>
  </li>
</ul>
-->

