<p>muestras-all works!</p>

<h1 class="subTituloText">Muestras</h1>

<div class="scanbutton" ></div>
<div class="scantext" (click)="Scan()" >SCAN</div>


<div class="list">
  <table>
    <tr>
      <th> Codigo </th>
      <th> Fecha </th>
      <th> Cultivo</th>
      <th> Coordenadas </th>
      <th> </th>

    </tr>
    <tr *ngFor="let item of data" >


      <td>{{ item.codigo  }}</td>
      <td >{{ item.fecha }}</td>
      <td>{{ item.cultivo}}</td>
      <td>{{ item.coordenadas}}</td>

      <td>
        <button class="detalles" (click)="infoMuestra(item.codigo)"></button>
        <button class="edit" (click)="editMuestra(item.codigo)"></button>
        <button class="imprimir"></button>

      </td>

    </tr>
  </table>


</div>

<!--
<ul>
  <li *ngFor="let item of data" >
    <p contenteditable="true">
    {{ item.codigo }}
    {{ item.owner }}
    {{ item.integrantes }}
    </p>
    <button >
      Update
    </button>

    <button >
      Delete
    </button>
  </li>
</ul>
-->


